.loader {
  width: 7rem;
  height: 7rem;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid rgba(230, 0, 35, 0.2);
  border-top-color: #e60023;
  border-radius: 50%;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
