.favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: var(--color-white-75);
  border: 0;
  border-radius: var(--border-radius-l);
  box-shadow: var(--box-shadow);
  font-size: 1.5rem;
  cursor: pointer;
}

.active {
  color: var(--color-red);
}

.icon {
  position: relative;
  top: 1px;
}
