.gridItem {
  width: 100%;
  padding: var(--spacing-s);
}

@media (min-width: 500px) {
  .gridItem {
    width: 50%;
  }
}

@media (min-width: 740px) {
  .gridItem {
    width: 33.333333%;
  }
}

@media (min-width: 980px) {
  .gridItem {
    width: 25%;
  }
}
