.error {
  margin-bottom: 40px;
  font-size: 1.5rem;
  color: #e60023;
  text-align: center;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #e60023;
  border-radius: 5px;
  font-size: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  cursor: pointer;
}
.label:hover {
  background-color: #b8001c;
}

.icon {
  margin-right: 20px;
}

.input {
  display: none;
}
