.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-red);
  box-shadow: var(--box-shadow);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  text-align: center;
}

.footer a {
  color: inherit;
}
