.imageCard {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: var(--border-radius-m);
  background-color: var(--color-mid-grey);
  box-shadow: var(--box-shadow);
}

.favourite {
  position: absolute;
  top: var(--spacing-s);
  right: var(--spacing-s);
}

.votes {
  position: absolute;
  bottom: var(--spacing-s);
  right: var(--spacing-s);
}
