.votes {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.count {
  width: 20px;
  text-align: center;
  font-size: 1.2rem;
}
