.votes {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: var(--color-white-75);
  border-radius: var(--border-radius-l);
  box-shadow: var(--box-shadow);
}

.count {
  width: 20px;
  text-align: center;
  font-size: 1.2rem;
}
