.label {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #e60023;
  border-radius: 5px;
  font-size: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.label:hover {
  background-color: #b8001c;
}

.icon {
  margin-bottom: 20px;
}

.input {
  display: none;
}
