.label {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: var(--color-mid-grey);
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--border-radius-m);
  font-size: 2rem;
  box-shadow: var(--box-shadow);
  text-align: center;
  cursor: pointer;
}

.label:hover {
  background-color: var(--color-light-grey);
}

.icon {
  margin-bottom: var(--spacing-m);
}

.input {
  display: none;
}
